.catalog {
    margin-bottom: 80px;
}

.catalog_order {
    min-height: 48px;
    margin-bottom: 30px;
}

.catalog_title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 16px;
}

.catalog_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 145px);
    gap: 10px;
}

@media (min-width: 1024px) {
    .catalog {
        margin-bottom: 100px;
    }

    .catalog_container {
        display: flex;
        gap: 30px;
    }

    .catalog_order {
        padding-top: 72px;
    }

    .catalog_wrapper {
        flex-grow: 1;
    }

    .catalog_title {
        font-weight: 600;
        margin-bottom: 24px;
    }

    .catalog_list {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 30px;
    }
}