.navigation {
    margin-bottom: 30px;
}

.navigation_container {
    padding: 0;
    min-width: 100vw;
}

.navigation_list {
    display: flex;
    padding: 0 calc(100vw / 2 - var(--container) / 2);
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
}

.navigation_button {
    background: white;
    border-radius: 50px;
    padding: 7px 8px 7px 40px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px center;
}

.navigation_button:hover,
.navigation_button:focus {
    border: 1px solid #F86310;
    outline-offset: 0;
}

.navigation_button_active:focus {
    border: none;
}

.navigation_button_active {
    pointer-events: none;
    background-color: #FFAB08;
}

.navigation_button_burger {
    background-image: url('../assets/burger.png');
}

.navigation_button_snack {
    background-image: url('../assets/snack.png');
}

.navigation_button_hot-dog {
    background-image: url('../assets/hotdog.png');
}

.navigation_button_combo {
    background-image: url('../assets/combo.png');
}

.navigation_button_shawarma {
    background-image: url('../assets/shawarma.png');
}

.navigation_button_pizza {
    background-image: url('../assets/pizza.png');
}

.navigation_button_wok {
    background-image: url('../assets/wok.png');
}

.navigation_button_dessert {
    background-image: url('../assets/dessert.png');

}

.navigation_button_sauce {
    background-image: url('../assets/sauce.png');
}

@media (min-width: 480px) {
    .navigation {
        --container: 80%;
    }
}

@media (min-width: 768px) {
    .navigation {
        --container: 640px;
    }

    .navigation_list {
        gap: 12px;
    }
}

@media (min-width: 1024px) {
    .navigation {
        --container: 960px;
        margin-bottom: 50px;
    }

    .navigation_list {
        column-gap: 24px;
    }

    .navigation_button {
        padding: 9px 14px 9px 46px;
        font-size: 16px;
        line-height: 22px;
        background-position: 14px center;
    }
}

@media (min-width: 1360px) {
    .navigation {
        --container: 1290px;
    }
}